* {
	font-family: "Lucida Grande", Arial, sans serif;
	font-weight: normal;
	border: none;
}
body {
	background-image:url('bg.png');
	color: #FFF;
}
table {
	width: 100%;
}
td, th {
	display: inline-block;
	margin-right: .5em;
	margin-bottom: 0.1em;
}
th {
	padding-right: .5em;
	margin: 10px inherit;
}
tr {
	white-space: nowrap;
}
th.detail {
	display: none;
}
.shrink {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
td.detail {
	white-space: normal;
	display: none;
	padding: 10px inherit 20px inherit;
	font-size: 0.8em;
	max-width: 42em;
	color: #555;
}
td.tagline, td.overview, td.consensus {
	text-align: justify;
	color: #bbb;
}
td.year {
	color: #777;
	width: 2.3em;
}
td.popularity {
	width: 1.4em;
	text-align: right;
}
td.smallTagline {
	font-size: 0.9em;
	color: #888;
}
td.genre {
	color: #555;
}
td.director {
	color: #777;
}
td.rating, td.resolution {
	margin-right: 0px;
	font-size: .75em;
}
table a {
	color: #999;
}
td.file a {
	color: inherit;
}
td.cast ul li, td.country ul li {
	display: inline-block;
	width: 21em;
}
td.files ul li {
	display: block;
}
td.cast, td.country , td.tagline, td.overview, td.time, td.cost, td.studio, td.producer, td.consensus, td.files {
	border: 0px solid #ABABAB;
	border-width: 0 0 0 1px;
	margin-left: 1em;
	padding-left: 1em;
}
td.detail {
	margin-bottom: 0em;
}
td.country {
	margin-bottom: 2em;
}
ul, li {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;
}
.imdb, .rt, .tmdb {
	padding-left: .4em;
}
.icon {
	font-family: Helvetica;
	font-weight: bold;
	font-size: .8em;
	color: #999;
	text-shadow: #000 1px 1px 0px;
	border: 1px solid #444;
	border-radius: .3em;
	box-shadow: 1px 1px 1px #000;
	margin-right: .5em;
	padding: 0px 3px 1px 3px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #0D0D0D 0%, #4A4A4A 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #0D0D0D 0%, #4A4A4A 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #0D0D0D 0%, #4A4A4A 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0D0D0D), color-stop(1, #4A4A4A));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #0D0D0D 0%, #4A4A4A 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #0D0D0D 0%, #4A4A4A 100%);
}
.missing {
	color: #444;
}